/* .header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 5px 10px;
  background-color: rgb(49, 41, 41);

  align-items: center;
}

a {
  text-decoration: none;
  background-color: blueviolet;
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
} */


/* .header {
    display: flex;
    color: wheat;
    background: #0e1538;

}

.header nav {
    position: relative;
    left: 10%;
    display: flex;


}

.header .logobox img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
    position: sticky;
    top: 0;

}

.header .logobox h1 {
    background: -webkit-linear-gradient(45deg, #00ccff, yellow, green, #d400d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logobox {
    position: relative;
    left: 2%;
    display: flex;

}


.header .signbox img {
    height: 60px;
    width: 70px;
    border-radius: 30px;
}

.header .signbox h4 {
    position: relative;
    margin-left: 5px;
    color: chartreuse;
}

.header .signbox {
    position: relative;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;


}

.header nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    width: fit-content;
    height: fit-content;
    display: inline-block;

}


.header nav ul li a:before,
.header nav ul li a:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;
    inset: -3px;
}

.header nav ul li a:nth-child(1):before,
.header nav ul li a:nth-child(1):after {
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

.header nav ul li a span {
    position: relative;
    top: 0;
    padding: 5px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background: #0e1538;
    z-index: 10;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
} */

.net {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}

.net h1 {
  color: rgb(0, 183, 255);
  font-size: 22px;
  margin-left: 10px;
  letter-spacing: 1px;
  text-align: center;
}

.m {
  margin-left: 50px;
}

.netBox {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  /* position: absolute;
  right: 5%; */
}

.netBox h4 {
  color: white;
  font-size: 15px;
  margin: auto;
  margin-right: 4px;
}

.netBox a {
  text-decoration: none;
  border: none;
  margin: auto;
  margin-right: 4px;
  margin-left: 4px;
  width: 90px;
  height: 35px;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join {
  background-color: red;
  color: white;
  padding: 5px;
}

#input {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  margin: auto;
  font-size: 17px;
  font-weight: bold;
  margin-left: 5px;
}

#search {
  background-color: chartreuse;
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

#sign {
  background-color: black;
  color: white;
  padding: 5px;
  border: 1px solid rgb(248, 6, 167);

}

#sign:hover {
  background-color: rgb(0, 255, 76);
  color: black;
  border: 2px solid wheat;
}